.all {
  z-index: 1;
  background-color: black;
  z-index: top;
  display: grid;
  place-items: center;
  align-content: center;
}
.logo {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}
.logo_img {
  max-width: 70%;
  height: auto;
}

.waw_show {
  transition-delay: 500ms !important;
  font-size: 30px;
  font-weight: bold;
  color: darkolivegreen;
  font-family: 'League Spartan';
  opacity: 1;
  transition: 1s;
}
.waw_hidden {
  font-size: 30px;
  font-weight: bold;
  color: aliceblue;
  font-family: 'League Spartan';
  opacity: 0;
  transition: 1s;
}

.about_show {
  transition-delay: 1200ms !important;
  font-size: 60px;
  font-weight: bold;
  color: aliceblue;
  font-family: 'League Spartan';
  opacity: 1;
  transition: 1s;
}
.about_hidden {
  opacity: 0;
  transition: 1s;
}

.hidden {
  opacity: 0;
  transition: 1s;
}
.show {
  opacity: 1;
  transition: 1s;
}
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
